/* NAVIGATION */

.navbar-brand-logo {
  color: $color-white;
  font-size: 2rem;

  &:hover {
    color: $color-btns;
  }
}

.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color: $color-white;
  text-decoration: none;
  font-size: 0.9rem;
  text-transform: uppercase;

  &:hover {
    color: $color-btns;
  }
}

.active {
  border-left: 2px solid rgba($color-btns, .5);
  border-right: 2px solid rgba($color-btns, .5);
  font-weight: bold;

  .nav-link {
  color: $color-btns !important;
  }
}

.custom-toggler.navbar-toggler {
  border-color: $color-btns;
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#{$color-btns}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}


@include respond(tab-port) {
  .nav-item {
    border: none;
    // width: 15%;
    text-align: center;
    &.active {
      border-bottom: 1px solid $color-btns;
      width: 8rem;
      margin: 0 auto;
    }
  } 
}