/* NAVIGATION */

#logo {
  width: 10rem;
}

.bg-dark {
  background-color: $color-pagination-bg !important;
}

.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
  color: $color-white;
  text-decoration: none;
  font-size: 0.9rem;
  text-transform: uppercase;

  &:hover {
    color: $color-btns;
  }
}

.active {
  border-left: 2px solid rgba($color-btns, .5);
  border-right: 2px solid rgba($color-btns, .5);
  font-weight: bold;

  .nav-link {
    color: $color-btns !important;
  }

  .fa .fa-navicon {
    color: $color-white;
  }
}

@include respond(tab-port) {
  .nav-item {
    border: none;
    text-align: center;

    &.active {
      border-bottom: 1px solid $color-btns;
      width: 8rem;
      margin: 0 auto;
    }
  }
}

@include respond(tab-land) {
  .nav-item {
    border: none;
    text-align: center;

    &.active {
      border-bottom: 1px solid $color-btns;
      width: 8rem;
      margin: 0 auto;
    }
  }
}

.custom-toggler.navbar-toggler {
  border-color: $color-btns;
  color: $color-btns;
}