<div class="container text-center mt-3">
  <% if current_authentication.admin? %>
    <h2>Panneau d'administration</h2>
    <div class="mb-3">
      <%= link_to 'Liste des membres', admin_liste_des_membres_path, id: 'btns' %>
    </div>
    
    <div class="mb-3">
      <%= link_to 'Whitelist', admin_whitelist_path, id: 'btns'  %>
    </div>   

    <div class="mb-3">
      <%= link_to 'Ajout de produit', admin_form_new_product_path, id: 'btns' %>
    </div>

    <div class="mb-3">
      <%= link_to 'Edition de produit', admin_index_produits_path, id: 'btns' %>
    </div>

  <% else %>
      <h2>Accès refusé</h2>
  <% end %>
</div>