<footer class="footer">
	<div class="footer__logo-box">
		<picture class="footer__logo">
			<a href="/"><%= image_tag 'logo.png', width: '15%' %></a>
		</picture>
	</div>

	<div class="row">
		<div class="col-1-of-2">
			<div class="footer__navigation">
				<ul class="footer__list">
					<li class="footer__item"><%= mail_to 'merlhiotpaolo@gmail.com', 'contact', class: "footer__link" %></li>
				<% if current_authentication %>
					<li class="footer__item"><a href="/orders/new" class="footer__link">Commander</a></li>
					<li class="footer__item"><a href="/orders" class="footer__link">Liste des commandes</a></li>
					<li class="footer__item"><a href="/authentications/show" class="footer__link">Profil</a></li>
				<% end %>
				</ul>
			</div>
		</div>
		
		<div class="col-1-of-2">
			<p class="footer__copyright">
					Ce site à été réalisé par <a href="https://github.com/ArnaudFgr" class="footer__link--lowcase">Arnaud Fougerousse</a>
					& <a href="https://github.com/Slashflex" class="footer__link--lowcase">David Saoud</a> dans le cadre d'un stage</a>.
			</p>
		</div>
	</div>
</footer>
