<div class="container text-center mt-3">
  <% if current_authentication.manager? || current_authentication.admin? %>
      <h1>Liste des commandes</h1>
        <ul>
          <% @orders.each do |order| %>
            <li>
              <a href="/orders/<%= order.id %>">
                Commande n°<%= order.id %> de <%= order.authentication.fullname %>
              </a>
            </li>
          <% end %>
        </ul>
      <a href="/orders/new">
        <input type="submit" value="Passer commande" class="mt-3" id="btns">
      </a>
  <% else %>
    <h2>Accès refusé</h2>
  <% end %>
  <%= paginate @orders %>
</div>
