<div class="container text-center mt-3">
  <h1>Liste des commandes</h1>

  <ul>
    <% @orders.each do |order| %>
      <li>
        <a href="/orders/<%= order.id %>">
          Commande n°<%= order.id%> de <%= order.consumer.firstname%> <%= order.consumer.lastname%>
        </a>
      </li>
    <% end %>
  </ul>

  <a href="/orders/new">
    <input type="submit" value="Passer commande" class="mt-3" id="command_send">
  </a>
</div>