// COLORS
$color-black: black;
$color-white: #fff;
$color-light-gray: #DDD;
$color-dark-gray: gray;
$color-orange: orange;
$color-btns: rgb(120, 199, 2);
$color-btns-hover: rgb(31, 31, 31);
$color-pagination-bg: rgb(47, 47, 47);
$color-flash: green;
// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 2rem;
$gutter-horizontal: 1rem;