<p>Bonjour <%= @email %>!</p>

<p>Nous vous contactons pour vous notifier que votre adresse de courriel a été changée en <%= @resource.try(:unconfirmed_email?) ? @resource.unconfirmed_email : @resource.email %>
