<!DOCTYPE html>
<html>
  <head>
    <title>TuttiGruppi</title>
    <%= render 'shared/rails_defaults' %>
  </head>
  <body>
    <%= render 'shared/navigation' %>

    <div class="container text-center">
      <% render 'shared/error_messages' %>
    </div>

    <%= yield %>
  
    <%= render 'shared/scripts' %>
  </body>
</html>
